<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>ru.handsapp.dt.unit.MvpNetworkApplication</string>
	<key>Ancestors</key>
	<array>
		<string>ru.handsapp.dt.unit.MVPApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template is for network MVP application.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
	<array>
		<string>../Podfile</string>
		<string>Resources/Strings/Localizable.strings</string>
		<string>Resources/Constants/AppDefaults.swift</string>
		<string>Resources/Constants/KeychainKeys.swift</string>
		<string>Library/Error Handling/ErrorHandler.swift</string>
		<string>Library/Protocols/UserMessagesView.swift</string>
		<string>Services/Keychain.swift</string>
		<string>Services/Network/Api/ServerApi.swift</string>
		<string>Services/Network/Plugins/AuthPlugin.swift</string>
		<string>Services/Network/Plugins/ErrorHandlingPlugin.swift</string>
		<string>Services/Network/Errors/HTTPNetworkError.swift</string>
		<string>Services/Network/Errors/NetworkReachabilityError.swift</string>
		<string>Services/Network/ReachabilityManager.swift</string>
		<string>Models/Network/Responses/.gitkeep</string>
		<string>Models/Network/Requests/.gitkeep</string>
		<string>Models/Mapping/.gitkeep</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
			<key>Group</key>
			<string>Non-iOS Resources</string>
		</dict>
		<key>Resources/Strings/Localizable.strings</key>
		<dict>
			<key>Path</key>
			<string>Localizable.strings</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Strings</string>
			</array>
		</dict>
		<key>Resources/Constants/AppDefaults.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Constants</string>
			</array>
			<key>Path</key>
			<string>AppDefaults.swift</string>
		</dict>
		<key>Resources/Constants/KeychainKeys.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Constants</string>
			</array>
			<key>Path</key>
			<string>KeychainKeys.swift</string>
		</dict>
		<key>Library/Error Handling/ErrorHandler.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Library</string>
				<string>Error Handling</string>
			</array>
			<key>Path</key>
			<string>ErrorHandler.swift</string>
		</dict>
		<key>Library/Protocols/UserMessagesView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Library</string>
				<string>Protocols</string>
			</array>
			<key>Path</key>
			<string>UserMessagesView.swift</string>
		</dict>
		<key>Services/Keychain.swift</key>
		<dict>
			<key>Group</key>
			<string>Services</string>
			<key>Path</key>
			<string>Keychain.swift</string>
		</dict>
		<key>Services/Network/Api/ServerApi.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Services</string>
				<string>Network</string>
				<string>Api</string>
			</array>
			<key>Path</key>
			<string>ServerApi.swift</string>
		</dict>
		<key>Services/Network/Plugins/AuthPlugin.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Services</string>
				<string>Network</string>
				<string>Plugins</string>
			</array>
			<key>Path</key>
			<string>AuthPlugin.swift</string>
		</dict>
		<key>Services/Network/Plugins/ErrorHandlingPlugin.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Services</string>
				<string>Network</string>
				<string>Plugins</string>
			</array>
			<key>Path</key>
			<string>ErrorHandlingPlugin.swift</string>
		</dict>
		<key>Services/Network/Errors/HTTPNetworkError.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Services</string>
				<string>Network</string>
				<string>Errors</string>
			</array>
			<key>Path</key>
			<string>HTTPNetworkError.swift</string>
		</dict>
		<key>Services/Network/Errors/NetworkReachabilityError.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Services</string>
				<string>Network</string>
				<string>Errors</string>
			</array>
			<key>Path</key>
			<string>NetworkReachabilityError.swift</string>
		</dict>
		<key>Services/Network/ReachabilityManager.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Services</string>
				<string>Network</string>
			</array>
			<key>Path</key>
			<string>ReachabilityManager.swift</string>
		</dict>
		<key>Models/Network/Requests/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Models</string>
				<string>Network</string>
				<string>Requests</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Models/Network/Responses/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Models</string>
				<string>Network</string>
				<string>Responses</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Models/Mapping/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Models</string>
				<string>Mapping</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
